<div th:fragment="downloadProgress" th:remove="tag">

    <input type="hidden" id="torrentHash" th:value="${torrentHash}">

    <div hx-ext="ws" id="ws-connect">
        Progress
        <div id="download-stats">
            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>

            <div id="torrent-stats" class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-body-secondary"></p>
                    </div>
                    <div class="col">
                        <p class="text-body-secondary"><i class="bi bi-arrow-down"></i> </p>
                    </div>
                    <div class="col">
                        <p class="text-body-secondary"><i class="bi bi-arrow-up"></i> </p>
                    </div>
                    <div class="col">
                        <p class="text-body-secondary">P</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <a class="text-decoration-none fs-4 mb-3"
       hx:get="@{/stream/movie/{contentId}(contentId=${torrentHash})}"
       hx-boost="true"
       hx-indicator=".globalProgress"
       hx-target="#poster">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play" viewBox="0 0 16 16">
            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"></path>
        </svg>
        Play
    </a>

</div>