<div th:fragment="downloadProgress" th:remove="tag" xmlns:hx="http://www.w3.org/1999/xhtml">

    <div id="download-container">
        <input type="hidden" id="torrentHash" th:value="${torrentHash}">

        <div hx-ext="ws" th:id="'ws-connect-' + ${torrentHash}"
             th:attr="ws-connect=|/download-progress?torrentHash=${torrentHash}|">

            <div>
                <strong role="status">Downloading</strong>&nbsp;<div aria-hidden="true"
                                                                     class="spinner-border spinner-border-sm"></div>
            </div>

            <div th:id="'download-stats-' + ${torrentHash}">
                <div th:id="'progress-bar-' + ${torrentHash}" class="progress progress-bar" role="progressbar"
                     style="width: 1%; height: 5px;" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100"></div>

                <div th:id="'torrent-stats-' + ${torrentHash}" class="container">
                    <div class="row">
                        <div class="col">
                            <p class="text-body-secondary">0%</p>
                        </div>
                        <div class="col">
                            <p class="text-body-secondary"><i class="bi bi-arrow-down"></i> 0.0 B/s</p>
                        </div>
                        <div class="col">
                            <p class="text-body-secondary"><i class="bi bi-arrow-up"></i> 0.0 B/s</p>
                        </div>
                        <div class="col">
                            <p class="text-body-secondary">0P</p>
                        </div>
                        <div class="col">
                            <p class="text-body-secondary">ETA -</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col fs-1 mb-3">
                <a hx:post="@{/download/pause/{hashString}(hashString=${torrentHash})}"
                   hx-boost="true"
                   hx-indicator=".globalProgress">
                    <i class="bi bi-pause"></i>
                </a>
                <a hx:get="@{/stream/video/{movieCode}(movieCode=${torrentHash})}"
                   hx-boost="true"
                   hx-indicator=".globalProgress"
                   hx-target="#poster">
                    <i class="bi bi-play"></i>
                </a>
            </div>
        </div>

    </div>
</div>


<div th:fragment="downloadTorrent" id="downloadTorrent">

    <h3 class="display-6 pt-3">Torrents Web Downloader
        <small class="text-body-secondary">Play torrents while you download.</small>
    </h3>

    <form id="submit-torrentHash" class="mb-3" hx-post="/download/torrent" hx-swap="outerHTML">

        <div class="mb-3">
            <label for="selectedOption" class="form-label">Torrent Hash</label>
            <input type="text" class="form-control" id="selectedOption" name="selectedOption" aria-describedby="torrentHashHelp" placeholder="Torrent Hash">
            <div id="torrentHashHelp" class="form-text text-muted">Please enter the TorrentHash/InfoHash to begin the torrent download.</div>
        </div>

        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" id="sequentialCheck" name="sequentialCheck">
            <label class="form-check-label" for="sequentialCheck">
                Sequential
            </label>
            <!-- CSRF Token -->
            <!--            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        </div>

        <button type="submit" class="btn btn-primary">Download</button>
    </form>

</div>

<div th:fragment="showAllDownloads" th:remove="tag">

    <div id="downloads-player" class="mt-3">

    </div>

    <div th:each="task : ${tasks}">

        <!--TODO: Allow User to cancel a download-->
        <!--<div class="pb-3 text-end">
            <a hx-post="/download/togglePause" class="btn btn-warning btn-sm">Pause All Downloads</a>
        </div>-->

        <div class="list-group list-group-flush">

            <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" th:text="${task.torrentName}"></h5>
                    <!--<small>3 days ago</small>-->
                    <small th:text="${task.createdDate}"></small>
                </div>
                <p class="mb-1">
                    Downloading
                </p>
                <div hx-ext="ws" th:id="'ws-connect-' + ${task.torrentHash}"
                     th:attr="ws-connect=|/download-progress?torrentHash=${task.torrentHash}|">
                    <div th:id="'download-stats-' + ${task.torrentHash}">
                        <div th:id="'progress-bar-' + ${task.torrentHash}" class="progress progress-bar"
                             role="progressbar" style="width: 1%; height: 5px;" aria-valuenow="1" aria-valuemin="0"
                             aria-valuemax="100"></div>

                        <div th:id="'torrent-stats-' + ${task.torrentHash}" class="container">
                            <div class="row">
                                <div class="col">
                                    <p class="text-body-secondary">0%</p>
                                </div>
                                <div class="col">
                                    <p class="text-body-secondary"><i class="bi bi-arrow-down"></i> 0.0 B/s</p>
                                </div>
                                <div class="col">
                                    <p class="text-body-secondary"><i class="bi bi-arrow-up"></i> 0.0 B/s</p>
                                </div>
                                <div class="col">
                                    <p class="text-body-secondary">0P</p>
                                </div>
                                <div class="col">
                                    <p class="text-body-secondary">ETA -</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<a hx:get="@{/stream/video/{contentId}(contentId=${task.torrentHash})}"
                   hx-target="#downloads-player"
                   hx-indicator=".globalProgress"
                   class="btn btn-primary btn-sm">
                    <i class="bi bi-play-fill"></i> Play
                </a>-->

                <div class="row">
                    <div class="col fs-1 mb-3">
                        <a hx:post="@{/download/pause/{hashString}(hashString=${task.torrentHash})}"
                           hx-boost="true"
                           hx-indicator=".globalProgress">
                            <i class="bi bi-pause"></i>
                        </a>
                        <a hx:get="@{/stream/video/{movieCode}(movieCode=${task.torrentHash})}"
                           hx-indicator=".globalProgress"
                           hx-target="#downloads-player">
                            <i class="bi bi-play"></i>
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div th:fragment="showNoDownloads" th:remove="tag">
    <small>No Downloads</small>
</div>