<div th:fragment="local-media-player" th:remove="tag" xmlns:hx="http://www.w3.org/1999/xhtml">

    <div id="local-media-player" class="col text-left fade-me-in">

        <p class="display-6 card-title lead mb-0 text-muted">Library</p>

        <ul id="local-media-files" class="text-left">

            <li th:each="video: ${videos}">
                <a th:text="${video.name}"
                   hx:get="@{/movie/{contentId}(contentId=${video.name})}"
                   hx-boost="true"
                   hx-indicator=".globalProgress"
                   hx-target="#mini-player"
                   hx-push-url="true"
                ></a>
            </li>

            <li th:each="music: ${music}">
                <a th:text="${music.name}"
                   hx:get="@{/music/{contentId}(contentId=${music.name})}"
                   hx-boost="true"
                   hx-indicator=".globalProgress"
                   hx-target="#mini-player"
                   hx-push-url="true"
                ></a>
            </li>

        </ul>

    </div>

    <div id="mini-player" class="col">

    </div>

</div>