<div th:fragment="ytsMostWatched" th:remove="tag">

  <div class="col" th:each="movie: ${ytsMostWatchedRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>

</div>

<div th:fragment="ytsLatest" th:remove="tag">

  <div class="col" th:each="movie: ${ytsLatestRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>

</div>

<div th:fragment="ytsMostLiked" th:remove="tag">

  <div class="col" th:each="movie: ${ytsMostLikedRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>

</div>

<div th:fragment="ytsImdbRating" th:remove="tag">

  <div class="col" th:each="movie: ${ytsIMDBHighestRatedRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>


</div>

<div th:fragment="ytsLatestComedies" th:remove="tag">

  <div class="col" th:each="movie: ${ytsLatestComedyRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>

</div>

<div th:fragment="ytsMustWatch" th:remove="tag">

  <div class="col" th:each="movie: ${ytsMustWatchRecord.data().movies()}">

    <div class="card h-100">
      <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}"
         hx-boost="true"
         hx-target="#movies"
         hx-swap="transition:true"
         hx-push-url="true">
        <img loading="lazy"
             class="card-img-top"
             th:src="@{${movie.large_cover_image()}}"
             th:alt="${movie.title_long()}"
        />
      </a>
    </div>

  </div>



</div>
