<div th:fragment="personalMediaPlayer" th:remove="tag" xmlns:hx="http://www.w3.org/1999/xhtml">

    <div class="col">

        <h3 class="display-6 pt-3 mb-3">
            Personal Media
            <small class="text-body-secondary" style="cursor: pointer">
                <i class="bi bi-arrow-repeat"
                   data-toggle="tooltip"
                   title="Refresh"
                   hx-get="/refresh/personalmedia"
                   hx-indicator=".globalProgress"
                   hx-swap="outerHTML"></i>
            </small>
        </h3>

        <div id="mini-player" class="row">

        </div>

        <ul id="personal-media-files" class="row text-left">

            <li th:each="video: ${videos}">
                <a th:text="${video.name}"
                   hx:get="@{/stream/movie/{movieCode}(movieCode=${video.movieCode})}"
                   hx-indicator=".globalProgress"
                   hx-target="#mini-player"
                   hx-push-url="true"
                   style="cursor: pointer"
                ></a>
            </li>

            <li th:each="music: ${music}">
                <a th:text="${music.name}"
                   hx:get="@{/stream/music/{contentId}(contentId=${music.name})}"
                   hx-indicator=".globalProgress"
                   hx-target="#mini-player"
                   hx-push-url="true"
                   style="cursor: pointer"
                ></a>
            </li>

        </ul>

    </div>

</div>