<div th:fragment="videoPlayer" th:remove="tag">

    <div class="fade-me-in" hx-swap="outerHTML settle:1s">
        <p class="display-6 text-muted">Now Playing</p>
        <video class="img-fluid shadow-lg" controls preload="auto">
            <source th:src="@{'/movies/' + ${contentId}}" type="video/mp4">
            <source th:src="@{'/movies/' + ${contentId}}" type="video/webm">
            <source th:src="@{'/movies/' + ${contentId}}" type="video/ogg">
            <p>
                Your browser doesn't support this video. Here is a
                <a th:href="'/movies/' + ${contentId}">link to the video</a> instead.
            </p>
        </video>
    </div>

</div>

<div th:fragment="musicPlayer" th:remove="tag">

    <div class="fade-me-in" hx-swap="outerHTML settle:1s">
        <p class="display-6 text-muted">Now Playing</p>
        <audio class="img-fluid shadow-lg" th:src="@{'/music/' + ${contentId} + '/content'}" controls></audio>
    </div>

</div>