<div th:fragment="videoPlayer" th:remove="tag">

    <div class="fade-me-in">
        <!--<p class="display-6 text-muted">Now Playing</p>-->
        <video class="img-fluid shadow-lg" controls preload="auto">
            <source th:src="@{'/videos/' + ${movieCode} + '/content'}">
            <source th:src="@{'/videos/' + ${movieCode}}" type="video/webm">
        </video>
    </div>

</div>

<div th:fragment="musicPlayer" th:remove="tag">

    <div class="fade-me-in" hx-swap="outerHTML settle:1s">
        <p class="display-6 text-muted">Now Playing</p>
        <audio class="img-fluid shadow-lg" th:src="@{'/music/' + ${contentId} + '/content'}" controls></audio>
    </div>

</div>