<div th:fragment="gallery" th:remove="tag">

    <div id="movie-gallery" class="container mt-5">

        <h1 class="mb-4" th:text="${category}"></h1>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage - 1}" tabindex="-1" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true">Previous</a></li>
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage}" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true" th:text="${currentPage}"></a></li>
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage + 1}" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true">Next</a></li>
            </ul>
        </nav>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
            <!-- Dynamic movie cards will go here -->
            <!-- Example of a single movie card -->
            <div class="col" th:each="movie: ${ytsMoviesRecord.data.movies}">
                <div class="card h-100">
                    <a hx:get="@{/yts/movies/{id}(id=${movie.id()})}" hx-indicator=".globalProgress" hx-boost="true" hx-target="#movies" hx-swap="transition:true" hx-push-url="true">
                        <img th:src="@{${movie.large_cover_image}}" th:alt="${movie.title_long}" class="card-img-top">
                    </a>
                </div>
            </div>
            <!-- Repeat movie cards for each movie -->
        </div>

        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage - 1}" tabindex="-1" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true">Previous</a></li>
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage}" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true" th:text="${currentPage}"></a></li>
                <li class="page-item"><a class="page-link" hx:get="'/yts/movies/cat/' + ${category} + '?page=' + ${currentPage + 1}" hx-boost="true" hx-indicator=".globalProgress" hx-target="#movies" hx-swap="transition:true" hx-push-url="true">Next</a></li>
            </ul>
        </nav>

    </div>

</div>