<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">

    <div class="col" th:each="item: ${watchlistitems}" th:id="|list-item-${item.id}|">

        <div class="card h-100">
            <a hx:get="@{${item.itemUrl}}"
               hx-boost="true"
               hx-target="#watchlist-content"
               hx-indicator=".globalProgress"
               hx-push-url="true">
                <img loading="lazy" th:src="@{${item.thumbnailUrl}}" th:alt="${item.name}" class="card-img-top">
            </a>
            <div class="card-footer">
                <small>
                    <a th:attr="hx-delete=@{/watchlist/{id}(id=${item.id})},hx-target=|#list-item-${item.id}|"
                          hx-trigger="click"
                          hx-swap="delete"
                          hx-method="delete"><i class="bi bi-trash"></i></a>
                </small>
            </div>
        </div>

    </div>

</div>

<input type="search"
       class="form-control"
       placeholder="YouTube Search"
       aria-label="YouTube Search"
       aria-describedby="basic-addon2"
       id="youtube-search"
       name="query"
       hx-trigger="input changed delay:500ms, search"
       hx-get="/yt/search"
       hx-indicator=".globalProgress"
       hx-target="#ytVideos"
       hx-push-url="true"
       autofocus
>

<div id="ytVideos">

    <div th:fragment="ytVideos">

        <div id="ytPlayer" th:fragment="ytPlayer"></div>

        <div class="card mb-3" style="max-width: 540px;" th:each="video : ${videos}">
            <div class="row g-0"
                 hx:get="@{/yt/watch/{v}(v=${video.url})}"
                 hx-target="#ytPlayer">
                <div class="col-md-4">
                    <img th:src="${video.thumbnailUrl}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${video.title}"></h5>
                        <!--                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
                        <!--                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>-->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>